html {
    box-sizing: border-box;
  }
      
  *,
  *::before,
  *::after {
  box-sizing: inherit;
  }
  
  .body{
    max-width: 1688,5px;
  }
  
  .container{
    width: 1316px;
    padding: 0 0;
    margin: auto;
  }
  
  h1, h2, h3, h4, h5, h6, ul, li, ol, p{
    padding: 0 0;
    margin: 0 0;
  }
  
  link{
   text-decoration: none;
  }
  
  ul{
    list-style: none;
  }
  
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }