:root {
  // -колір акценту;
  --accent-color: #FF6B09;

  // -група кольорів для текстів;
  --white-text: #FFFFFF;
  --black-text: #111518;
  --dark-gray-text: #3D3D3D;
  --light-gray: #B9B9B9;

  // -група кольорів для фонів;
  --white-bac: #FFFFFF;
  --black-bac: #111518;
  --gray-bac: #F1F1F1;
   
    }
  
    