:root {
  
  --accent-color: #FF6B09;
  --white-text: #FFFFFF;
  --black-text: #111518;
  --dark-gray-text: #3D3D3D;
  --light-gray: #B9B9B9;
  --white-bac: #FFFFFF;
  --black-bac: #111518;
  --gray-bac: #F1F1F1;
   
      --team-card-set-gap: 30px;
      --team-card-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04),
        0px 8px 26px rgba(0, 0, 0, 0.1);
      --card-set-gap: 30px;
      --card-shadow: ;
    }
  
    