
<header class="header">
    <div class="container">
    <div class="nav">
    <nav class="nav-link">
    <a href="./index.html">
    <span class="logo-hell">Hell</span>
    <span class="logo-en">EN</span>
    <p> <span class="adskij">адский</span> <span class="english">английский</span> </p>
</a>
    <ul class="ul-link">
    <li>
    <a class="active" href="./index.html">
    <span class="nav-logo">Программы обучения</span></a
    >
    </li>
    
    <li>
    <a href="">
    <span class="nav-logo">О нас</span></a
    >
    </li>
    
    <li>
    <a href="">
    <span class="nav-logo">Варианты обучения</span></a
    >
    </li>
    
    <li>
    <a href=""> <span class="nav-logo">Контакты</span></a>
    </li>

    <li><a href="#" class="button">Консультация по телефону</a> </li>
    </ul>
    </nav>
    </div>
</div>
</header>