<section class="section-hero">
    <div class="container">
        <h1>Комплексная подготовка к ВНО по английскому языку</h1>
        <p> <span>Просто не будет.</span> Но ты гарантировано наберешь <span>+25 баллов</span> </p>
            <a href="#" class="button">хочу на бесплатное занятие</a> 
                <svg class="section-hero__decor-img">
                    <use href=".src/images/icons.svg#icon-noun_cross"></use> 
                </svg>

                <img src="./images/" alt="">
               

                
            </div>
</section>