.button{
  background-color: #FF6B09;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 0 14px 1px;


  @media screen and (min-width: 480px){
    width: 260px;
    height: 48px;
  }
    
  @media screen and (min-width: 768px){
    width: 260px;
    height: 48px;
  }

  @media screen and (min-width: 1280px){
    width: 354px;
    height: 70px;
    padding: 27px 25px 26px 26px;
  }
}

.button--inversion{
  background-color: none;
  border: 2px solid #FF6B09;
  color: #FFFFFF;

  @media screen and (min-width: 768px){
    padding: 16px 5px 17px;
  }

  @media screen and (min-width: 1280px){
    padding: 27px 23px 26px 24px;
    width: 336px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
  }
}